# Ignore Python cache directories and files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments
ChessVenv/

# Ignore other common Python-related files
*.egg-info/
*.egg
*.pyo
*.pyd

# Ignore test and log files
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.log

# Ignore distribution and packaging files
build/
dist/
*.wheel
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore IDE/editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore MacOS files
.DS_Store

# Ignore Windows files
Thumbs.db
desktop.ini

# Ignore any other system files
*.swp
*~
