# Ignore Python cache directories and files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments
ChessVenv/

# Ignore distribution and packaging files
build/
dist/
*.wheel
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.vscode/
.idea/