<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask WebSocket Example</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket;

        window.onload = function() {
            socket = io.connect('http://' + document.domain + ':' + location.port);

            socket.on('connect', function() {
                console.log('Connected to server');
            });

            socket.on('message', function(msg) {
                var p = document.createElement('p');
                p.innerHTML = msg;
                document.getElementById('messages').appendChild(p);
            });
        };

        function sendMessage() {
            if (socket && socket.connected) {
                var message = document.getElementById('message').value;
                socket.send(message);
                document.getElementById('message').value = '';
            } else {
                console.log('Socket is not connected');
            }
        }
    </script>
</head>
<body>
    <h1>Flask WebSocket Example</h1>
    <input type="text" id="message" placeholder="Enter message">
    <button onclick="sendMessage()">Send</button>
    <div id="messages"></div>
</body>
</html>